---
openapi: 3.0.1
info:
  title: EVM
  description: ""
  version: 1.0.0
servers:
- url: https://api-evm.orderly.org
  description: Prod Env
- url: https://testnet-api-evm.orderly.network
  description: Testing Env
tags:
- name: restful_public
- name: restful_private
paths:
  /v1/public/futures:
    get:
      tags:
      - restful_public
      summary: Get Futures Info for All Markets
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/futures`

        Get basic futures information for all the markets.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251463-run
  /v1/public/fee/program:
    get:
      tags:
      - restful_public
      summary: Get Fee Information
      description: ""
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              examples:
                "1":
                  summary: Success
                  value:
                    success: true
                    data:
                      rows:
                      - tier: "1"
                        maker_fee: 0.1%
                        taker_fee: 0.1%
                        volume_min: 0
                        volume_max: 500000
                      - tier: "2"
                        maker_fee: 0.08%
                        taker_fee: 0.09%
                        volume_min: 500000
                        volume_max: 3000000
                      - tier: "3"
                        maker_fee: 0.06%
                        taker_fee: 0.08%
                        volume_min: 3000000
                        volume_max: 10000000
                      - tier: "4"
                        maker_fee: 0.04%
                        taker_fee: 0.07%
                        volume_min: 10000000
                        volume_max: 50000000
                      - tier: "5"
                        maker_fee: 0.02%
                        taker_fee: 0.06%
                        volume_min: 50000000
                        volume_max: 100000000
                      - tier: "6"
                        maker_fee: 0%
                        taker_fee: 0.05%
                        volume_min: 100000000
                    timestamp: 1683879497125
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251464-run
  /v1/public/fee_futures/program:
    get:
      tags:
      - restful_public
      summary: Get Futures Fee Information
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/fee_futures/program`

        Get fee information for futures trading.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
              examples:
                "1":
                  summary: Success
                  value:
                    success: true
                    data:
                      rows:
                      - tier: "1"
                        maker_fee: 0.04%
                        taker_fee: 0.08%
                        volume_min: 0
                        volume_max: 2500000
                      - tier: "2"
                        maker_fee: 0.036%
                        taker_fee: 0.075%
                        volume_min: 2500000
                        volume_max: 15000000
                      - tier: "3"
                        maker_fee: 0.032%
                        taker_fee: 0.07%
                        volume_min: 15000000
                        volume_max: 50000000
                      - tier: "4"
                        maker_fee: 0.02%
                        taker_fee: 0.06%
                        volume_min: 50000000
                        volume_max: 250000000
                      - tier: "5"
                        maker_fee: 0.012%
                        taker_fee: 0.05%
                        volume_min: 250000000
                        volume_max: 500000000
                      - tier: "6"
                        maker_fee: 0.008%
                        taker_fee: 0.04%
                        volume_min: 500000000
                    timestamp: 1683879531985
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251465-run
  /v1/public/market_trades:
    get:
      tags:
      - restful_public
      summary: Get Market Trades
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/market_trades`

        Get the latest market trades.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: SPOT_NEAR_USDC
      - name: limit
        in: query
        description: Numbers of trades want to query.
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: "10"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
              examples:
                "1":
                  summary: symbol=SPOT_NEAR_USDC&limit=10
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2.13
                        executed_quantity: 1
                        executed_timestamp: 1683878609166
                      - symbol: SPOT_NEAR_USDC
                        side: SELL
                        executed_price: 1.8225
                        executed_quantity: 0.1
                        executed_timestamp: 1683878394714
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2.13
                        executed_quantity: 831.19
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2
                        executed_quantity: 107.66
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9563
                        executed_quantity: 41.63
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9563
                        executed_quantity: 10.36
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9151
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9101
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9001
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.8946
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                    timestamp: 1683879644821
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251466-run
  /v1/public/volume/stats:
    get:
      tags:
      - restful_public
      summary: Get Volume Statistics
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/volume/stats`

        Get the latest volume statistics of Orderly and its associated brokers. Note that for broker volume, the volume is counted as the sum of the maker and taker volume, while for the full Orderly platform, the volume is the total amount matched on the platform (ie taker and maker are not double-counted.)
      parameters:
      - name: broker_id
        in: query
        description: Provide broker_id to obtain statistics of a specific broker
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: test_broker
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251467-run
  /v1/public/broker/name:
    get:
      tags:
      - restful_public
      summary: Get Broker List
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/broker/name?broker_id=:broker_id`

        Get the list of brokers currently onboarded on Orderly Network.
      parameters:
      - name: broker_id
        in: query
        description: "If provided, it will only output details for the particular broker."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: test_broker
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
              examples:
                "1":
                  summary: no broker_id
                  value:
                    success: true
                    data:
                      rows:
                      - broker_id: woofi_dex
                        broker_name: WOOFi DEX
                      - broker_id: btse_dex
                        broker_name: BTSE DEX
                      - broker_id: ref_dex
                        broker_name: REF DEX
                      - broker_id: zexe_dex
                        broker_name: ZEXE DEX
                      - broker_id: jump_defi
                        broker_name: Jump DeFi
                      - broker_id: sweat_trade
                        broker_name: SWEAT Trade
                    timestamp: 1683879871492
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251468-run
  /v1/public/funding_rates:
    get:
      tags:
      - restful_public
      summary: Get Predicted Funding Rates for All Markets
      description: "\n**Limit: 10 requests per 1 second per IP address**\n\n`GET /v1/public/funding_rates`\n\nGet predicted funding rates for all futures trading pairs.\n\nGet the : \n* `last_funding_rate` : latest hourly funding rate for all the markets for the last funding period (dt = 8h)\n* `est_funding_rate` : rolling average of all funding rates over the last 8 hours "
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251469-run
  /v1/public/funding_rate/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Predicted Funding Rate for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/funding_rate/:symbol`

        Get latest funding rate for one market.
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PERP_ETH_USDC
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251470-run
  /v1/public/funding_rate_history:
    get:
      tags:
      - restful_public
      summary: Get Funding Rate History for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/funding_rate_history`


        Get funding rate history for one market.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: PERP_NEAR_USDC
      - name: start_t
        in: query
        description: "start time range that you wish to query, noted that the time stamp is a 13-digits timestamp."
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: "end time range that you wish to query, noted that the time stamp is a 13-digits timestamp."
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: the page you wish to query.
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: "Default: 60"
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251471-run
  /v1/public/futures/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Futures Info for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/futures/:symbol`

        Get basic futures information for one market.
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PERP_ETH_USDC
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251472-run
  /v1/public/liquidation:
    get:
      tags:
      - restful_public
      summary: Get Positions Under Liquidation for All Markets
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/liquidation`
      parameters:
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251473-run
  /v1/public/liquidated_positions:
    get:
      tags:
      - restful_public
      summary: Get Liquidated Positions Info
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/liquidated_positions`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: PERP_ETH_USDC
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251474-run
  /v1/public/system_info:
    get:
      tags:
      - restful_public
      summary: Get System Maintenance Status
      description: Retreive the current system maintenance status of Orderly Network. A return value of status = 0 means the system is functioning properly and a return value of status = 2 means the system is under maintenance.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251834-run
  /v1/public/config:
    get:
      tags:
      - restful_public
      summary: Get Leverage Configuration
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET v1/public/config`
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251851-run
  /v1/public/info/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Exchange Information
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/info/:symbol`

        This endpoint provides all the values for the rules that an order need to fulfil in order for it to be placed successfully. The rules are defined as follows:

        Price filter

        - `price` >= `quote_min`
        - `price` <= `quote_max`
        - `(price - quote_min) % quote_tick` should equal to zero
        - `price` <= `asks[0].price * (1 + price_range)` when BUY
        - `price` >= `bids[0].price * (1 - price_range)` when SELL

        Size filter

        - `base_min` <= `quantity` <= `base_max`
        - `(quantity - base_min) % base_tick` should equal to zero

        Min Notional filter

        - `price * quantity` should greater than `min_notional`

        Risk Exposure filer

        - Order size should be within holding threshold. See [account_info](#get-account-information)
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251477-run
  /v1/public/token:
    get:
      tags:
      - restful_public
      summary: Get Token Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/token`

        Retrives the available tokens to custody within Orderly Network.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251478-run
  /v1/public/info:
    get:
      tags:
      - restful_public
      summary: Get Available Symbols
      description: |
        `GET /v1/public/info`

        Get available symbols that Orderly Network supports, and also send order rules for each symbol. The definition of rules can be found at [Exchange Infomation](#exchange-information)
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251479-run
  /v1/public/insurancefund:
    get:
      tags:
      - restful_public
      summary: Get Insurance Fund Info
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/insurancefund`
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251480-run
  /v1/tv/config:
    get:
      tags:
      - restful_public
      summary: Get TradingView Localized Config Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/config`
      parameters:
      - name: locale
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251481-run
  /v1/tv/history:
    get:
      tags:
      - restful_public
      summary: Get TradingView History Bars
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/history`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: resolution
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: from
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: to
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251482-run
  /v1/tv/symbol_info:
    get:
      tags:
      - restful_public
      summary: Get TradingView Symbol Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/symbol_info`
      parameters:
      - name: group
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: testing
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251483-run
  /v1/positions:
    get:
      tags:
      - restful_private
      summary: Get All Positions Info
      description: |
        **Limit: 30 requests per 10 second per user**

        `GET /v1/positions`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251484-run
  /v1/position/{symbol}:
    get:
      tags:
      - restful_private
      summary: Get One Position Info
      description: |
        **Limit: 30 requests per 10 second per user**

        `GET /v1/position/:symbol`
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251485-run
  /v1/funding_fee/history:
    get:
      tags:
      - restful_private
      summary: Get Funding Fee History
      description: |
        **Limit: 20 requests per 60 second per user**

        `GET /v1/funding_fee/history`

        Get funding fee history.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
              examples:
                "1":
                  summary: Success
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: PERP_ETH_USDC
                        funding_rate: 4.6875E-4
                        mark_price: 2100
                        funding_fee: 1.6E-5
                        payment_type: Pay
                        status: Accrued
                        created_time: 1682235722003
                        updated_time: 1682235722003
                      - symbol: PERP_ETH_USDC
                        funding_rate: 4.6875E-4
                        mark_price: 2100
                        funding_fee: 1.6E-5
                        payment_type: Pay
                        status: Accrued
                        created_time: 1682235662003
                        updated_time: 1682235662003
                      meta:
                        total: 180
                        records_per_page: 2
                        current_page: 1
                    timestamp: 1682235723280
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251486-run
  /v1/client/liquidator_liquidations:
    get:
      tags:
      - restful_private
      summary: Get Liquidated Positions by Liquidator
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/client/liquidator_liquidations`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251487-run
  /v1/client/leverage:
    post:
      tags:
      - restful_private
      summary: Update Leverage Setting
      description: |
        **Limit: 5 requests per 60 second per user**

        `POST /v1/client/leverage`

        Choose maximum leverage for futures mode
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_leverage_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251488-run
  /v1/liquidations:
    get:
      tags:
      - restful_private
      summary: Get Liquidated Positions of Account
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/liquidations`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251489-run
  /v1/liquidation:
    post:
      tags:
      - restful_private
      summary: Claim Liquidated Positions
      description: |
        **Limit: 5 requests per 1 second per IP address**

        `POST /v1/liquidation`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_liquidation_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251490-run
  /v1/order:
    put:
      tags:
      - restful_private
      summary: Edit Order
      description: |
        **Limit: 10 request per 1 second**

        `PUT /v1/order`

        Edit a pending order by `order_id`. Only the `order_price` or `order_quantity` can be amended.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_order_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251894-run
    post:
      tags:
      - restful_private
      summary: Create Order
      description: |
        **Limit: 10 requests per 1 second**

        `POST /v1/order`

        Place order maker/taker, the order executed information will be update from websocket stream.
        will response immediately with an order created message.

        `MARKET` type order behavior: it matches until the full size is executed. If the size is too large (larger than whole book) or the matching price exceeds the price limit (refer to `price_range`), then the remaining quantity will be cancelled.

        `IOC` type order behavior: it matches as much as possible at the order_price. If not fully executed, then remaining quantity will be cancelled.

        `FOK` type order behavior: if the order can be fully executed at the order_price then the order gets fully executed otherwise would be cancelled without any execution.

        `POST_ONLY` type order behavior: if the order will be executed with any maker trades at the time of placement, then it will be cancelled without any execution.

        `ASK` type order behavior: the order price is guranteed to be the best ask price of the orderbook at the time it gets accepted.

        `BID` type order behavior: the order price is guranteed to be the best bid price of the orderbook at the time it gets accepted.

        `visible_quantity` behavior: it sets the maximum quantity to be shown on orderbook. By default, it is equal to order_quantity, negative number and number larger than `order_quantity` is not allowed. If it sets to 0, the order would be hidden from the orderbook. It doesn't work for `MARKET`/`IOC`/`FOK` orders since orders with these types would be executed and cancelled immediately and not be shown on orderbook. For `LIMIT`/`POST_ONLY` order, as long as it's not complete, `visible_quantity` is the maximum quantity that shown on orderbook.

        `order_amount` behavior: for `MARKET`/`BID`/`ASK` order, order can be placed by `order_amount` instead of `order_quantity`. It's the size of the order in terms of the quote currency instead of the base currency. The order would be rejected if  both `order_amount` and `order_quantity` are provided. The precision of the number should be within 8 digits.

        `client_order_id` behavior: customized order_id, a unique id among open orders. Orders with the same `client_order_id` can be accepted only when the previous one if completed, otherwise the order will be rejected.

        For `MARKET`/`BID`/`ASK` order, `order_amount` is not supported when placing SELL order while `order_quantity` is not supported when placing BUY order.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_order_body_1'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251491-run
    delete:
      tags:
      - restful_private
      summary: Cancel Order
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/order?order_id=:oid&symbol=:symbol`

        Cancels a single order by `order_id`.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: order_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: signature
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251492-run
  /v1/order/{order_id}:
    get:
      tags:
      - restful_private
      summary: Get Order
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/order/:order_id`

        Get details of a single order by `order_id`.
      parameters:
      - name: order_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251493-run
  /v1/trades:
    get:
      tags:
      - restful_private
      summary: Get Trades
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/trades`

        Return client’s trades history within a time range.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251494-run
  /v1/client/holding:
    get:
      tags:
      - restful_private
      summary: Get Current Holding
      description: |
        **Limit: 10 requests per 1 seconds**

        `GET /v1/client/holding`

        Get the current summary of user token holdings.
      parameters:
      - name: all
        in: query
        description: true/false. If true then will return all token even if balance is empty.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251495-run
  /v1/client/info:
    get:
      tags:
      - restful_private
      summary: Get Account Information
      description: |
        **Limit: 10 requests per 60 seconds**

        `GET /v1/client/info`

        Get basic account information including current user fee rates.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251496-run
  /v1/orders:
    get:
      tags:
      - restful_private
      summary: Get Orders
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/orders`

        Get orders by customized filters.

        For filter by status, one can reference special bundled statuses below for ease of access of Open (ie `INCOMPLETE`) orders or `COMPLETED` orders.

        - `INCOMPLETE` = `NEW` + `PARTIAL_FILLED`
        - `COMPLETED` = `CANCELLED` + `FILLED`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: side
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: order_type
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: status
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251497-run
  /v1/client/statistics:
    get:
      tags:
      - restful_private
      summary: Get User Statistics
      description: |
        **Limit: 10 requests per 60 seconds**

        `GET /v1/client/statistics`

        Get statistics of the user account
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251498-run
  /v1/asset/history:
    get:
      tags:
      - restful_private
      summary: Get Asset History
      description: |
        **Limit 10 requests per 60 seconds**

        `GET /v1/asset/history`

        Get asset history, including token deposits/withdrawals.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-orders: []
                x-apifox-ignore-properties: []
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251499-run
  /v1/claim_insurance_fund:
    post:
      tags:
      - restful_private
      summary: Claim Insurance Fund
      description: |
        **Limit: 5 requests per 1 second**

        `POST /v1/claim_insurance_fund`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_claim_insurance_fund_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251500-run
  /v1/registration_nonce:
    get:
      tags:
      - restful_public
      summary: Get Registration Nonce
      description: |-
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/registration_nonce`

        Retrieve a nonce used for registering an account on Orderly Network. The validity of the nonce value is `2` minutes. Each nonce can only be used once (ie for one account).
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251839-run
  /v1/get_account:
    get:
      tags:
      - restful_public
      summary: Get Account
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/get_account`

        Check whether a particular account is registered on Orderly Network.
      parameters:
      - name: address
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251841-run
  /v1/register_account:
    post:
      tags:
      - restful_public
      summary: Register Account
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `POST /v1/register_account`

        Registers a new account to Orderly Network. Note an account is unique for each wallet address + broker id (ie the same wallet address can have multiple accounts with Orderly Network, 1 with each broker)
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_register_account_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251844-run
  /v1/get_orderly_key:
    get:
      tags:
      - restful_public
      summary: Get Orderly Key
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/get_orderly_key`

        Check the validity of an Orderly access key attached to the account.
      parameters:
      - name: account_id
        in: query
        description: The account id of the user.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly_key
        in: query
        description: The public key of the Orderly access key.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251846-run
  /v1/orderly_key:
    post:
      tags:
      - restful_public
      summary: Add Orderly Key
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `POST /v1/orderly_key`

        Adds an Orderly access key to an account.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_orderly_key_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251850-run
  /v1/public/chain_info:
    get:
      tags:
      - restful_public
      summary: Get Vault Chain Config
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/vault_balance`
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251853-run
  /v1/batch-order:
    post:
      tags:
      - restful_private
      summary: Batch Create Order
      description: |
        **Limit: 1 request per 1 second**

        `POST /v1/batch-order`

        Creates a batch of orders as a list according to the same rules as a single Create Order.

        Parameters for each order within the batch will be the same as the create single order. The batch of orders should be sent as a JSON array containing all the orders. The maximum number of orders that can be sent in 1 batch order request is 10. Each order within the batch order request is counted as 1 order towards the overall create order rate limit.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_batchorder_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251893-run
  /v1/client/order:
    delete:
      tags:
      - restful_private
      summary: Cancel Order By client_order_id
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/client/order?client_order_id=:coid&symbol=:symbol`

        Cancel an order by `client_order_id`.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: client_order_id
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251895-run
  /v1/client/orders:
    delete:
      tags:
      - restful_private
      summary: Cancel Orders in Bulk
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/orders?symbol=:symbol`

        Cancel a list of orders, filtered by `symbol` optionally. This request will cancel all open orders within the filter criteria, and will cancel all open orders if no filter is provided.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251896-run
  /v1/batch-orders:
    delete:
      tags:
      - restful_private
      summary: Batch Cancel Orders
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/batch-order?order_ids=:order_id_1,:order_id_2`

        Cancel a list of orders by `order_id`. The maximum orders that can be cancelled within 1 batch cancel request is 10.
      parameters:
      - name: order_ids
        in: query
        description: "List of order_ids, comma-separated, with a maximum of 10 order ids per request."
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251897-run
  /v1/client/batch-orders:
    delete:
      tags:
      - restful_private
      summary: Batch Cancel Orders By client_order_id
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/client/batch-order?client_order_ids=:order_id_1,:order_id_2`

        Cancel a list of orders by `client_order_id`. The maximum orders that can be cancelled within 1 batch cancel request is 10.
      parameters:
      - name: order_ids
        in: query
        description: "List of order_ids, comma-separated, with a maximum of 10 order ids per request."
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251899-run
  /v1/client/order/{client_order_id}:
    get:
      tags:
      - restful_private
      summary: Get Order by client_order_id
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/client/order/:client_order_id`

        Get details of a single order by `client_order_id`.
      parameters:
      - name: client_order_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251901-run
  /v1/orderbook/{symbol}:
    get:
      tags:
      - restful_private
      summary: Orderbook Snapshot
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/orderbook/:symbol`

        Snapshot of the current orderbook. Price of asks/bids are in descending order.
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: max_level
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251907-run
  /v1/kline:
    get:
      tags:
      - restful_private
      summary: Get Kline
      description: |2

        **Limit: 10 requests per 1 second**

        `GET /v1/kline`

        Get the latest klines (OHLC) of the trading pairs.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: type
        in: query
        description: 1m/5m/15m/30m/1h/4h/12h/1d/1w/1mon/1y
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: limit
        in: query
        description: Numbers of klines. Maximum of 1000 klines.
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251913-run
  /v1/order/{order_id}/trades:
    get:
      tags:
      - restful_private
      summary: Get All Trades of Specific Order
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/order/:order_id/trades`

        Get specific trades of an order by `order_id`.
      parameters:
      - name: order_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_49'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251914-run
  /v1/trade/{trade_id}:
    get:
      tags:
      - restful_private
      summary: Get Trade
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/trade/:trade_id`

        Get specific transaction details by `trade_id`.
      parameters:
      - name: trade_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_50'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251915-run
  /v1/client/maintenance_config:
    post:
      tags:
      - restful_private
      summary: Set Maintenance Config
      description: |
        **Limit: 10 requests per 60 seconds**

        `POST /v1/client/maintenance_config`

        Set the user config for whether the system should automatically cancel the user's pending orders during maintenance.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_maintenance_config_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-ignore-properties: []
                x-apifox-orders: []
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251917-run
  /v1/volume/user/stats:
    get:
      tags:
      - restful_private
      summary: Get User Volume Statistics
      description: |
        **Limit 10 requests per 60 seconds**

        `GET /v1/volume/user/daily`

        Get the daily historical breakdown of the user trading volume.

        The provided `start_date`/`end_date` has to be within a 90-day range.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3676626/apis/api-129251918-run
  /v1/volume/user/daily:
    get:
      tags:
      - restful_private
      summary: Get User Daily Volume
      description: |
        **Limit 10 requests per 60 seconds**

        `GET /v1/volume/user/stats`

        Get the latest volume statistics of the user.
      parameters:
      - name: start_date
        in: query
        description: Format YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: end_date
        in: query
        description: Format YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
[...]
