---
openapi: 3.0.1
info:
  title: NEAR
  description: ""
  version: 1.0.0
servers:
- url: https://api-evm.orderly.org
  description: Mainnet
- url: https://testnet-api.orderly.network
  description: Testnet
tags:
- name: restful_public
- name: restful_private
paths:
  /v1/public/futures:
    get:
      tags:
      - restful_public
      summary: Get Futures Info for All Markets
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/futures`

        Get basic futures information for all the markets.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: PERP_ETH_USDC.e
                        index_price: 1901.6
                        mark_price: 1950
                        sum_unitary_funding: 387.891
                        est_funding_rate: 4.6875E-4
                        last_funding_rate: 4.6875E-4
                        next_funding_time: 1683270060000
                        open_interest: None
                        "24h_open": 2115
                        "24h_close": 2115
                        "24h_high": 2115
                        "24h_low": 2115
                        "24h_volume": 0
                        "24h_amount": 0
                      - symbol: PERP_NEAR_USDC.e
                        index_price: 1.8504
                        mark_price: 2.05
                        sum_unitary_funding: -6.373816
                        est_funding_rate: 9.375E-4
                        last_funding_rate: 9.375E-4
                        next_funding_time: 1683270060000
                        open_interest: None
                        "24h_open": 1.9
                        "24h_close": 1.9
                        "24h_high": 1.9
                        "24h_low": 1.895
                        "24h_volume": 3668.3
                        "24h_amount": 6967.76
                    timestamp: 1683270033049
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994290-run
  /v1/public/fee/program:
    get:
      tags:
      - restful_public
      summary: Get Fee Information
      description: ""
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              examples:
                "1":
                  summary: Success
                  value:
                    success: true
                    data:
                      rows:
                      - tier: "1"
                        maker_fee: 0.1%
                        taker_fee: 0.1%
                        volume_min: 0
                        volume_max: 500000
                      - tier: "2"
                        maker_fee: 0.08%
                        taker_fee: 0.09%
                        volume_min: 500000
                        volume_max: 3000000
                      - tier: "3"
                        maker_fee: 0.06%
                        taker_fee: 0.08%
                        volume_min: 3000000
                        volume_max: 10000000
                      - tier: "4"
                        maker_fee: 0.04%
                        taker_fee: 0.07%
                        volume_min: 10000000
                        volume_max: 50000000
                      - tier: "5"
                        maker_fee: 0.02%
                        taker_fee: 0.06%
                        volume_min: 50000000
                        volume_max: 100000000
                      - tier: "6"
                        maker_fee: 0%
                        taker_fee: 0.05%
                        volume_min: 100000000
                    timestamp: 1683879497125
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994291-run
  /v1/public/fee_futures/program:
    get:
      tags:
      - restful_public
      summary: Get Futures Fee Information
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/fee_futures/program`

        Get fee information for futures trading.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - tier: "1"
                        maker_fee: 0.04%
                        taker_fee: 0.08%
                        volume_min: 0
                        volume_max: 2500000
                      - tier: "2"
                        maker_fee: 0.036%
                        taker_fee: 0.075%
                        volume_min: 2500000
                        volume_max: 15000000
                      - tier: "3"
                        maker_fee: 0.032%
                        taker_fee: 0.07%
                        volume_min: 15000000
                        volume_max: 50000000
                      - tier: "4"
                        maker_fee: 0.02%
                        taker_fee: 0.06%
                        volume_min: 50000000
                        volume_max: 250000000
                      - tier: "5"
                        maker_fee: 0.012%
                        taker_fee: 0.05%
                        volume_min: 250000000
                        volume_max: 500000000
                      - tier: "6"
                        maker_fee: 0.008%
                        taker_fee: 0.04%
                        volume_min: 500000000
                    timestamp: 1682240064771
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994292-run
  /v1/public/market_trades:
    get:
      tags:
      - restful_public
      summary: Get Market Trades
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/market_trades`

        Get the latest market trades.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: SPOT_NEAR_USDC
      - name: limit
        in: query
        description: Numbers of trades want to query.
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: "10"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
              examples:
                "1":
                  summary: symbol=SPOT_NEAR_USDC&limit=10
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2.13
                        executed_quantity: 1
                        executed_timestamp: 1683878609166
                      - symbol: SPOT_NEAR_USDC
                        side: SELL
                        executed_price: 1.8225
                        executed_quantity: 0.1
                        executed_timestamp: 1683878394714
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2.13
                        executed_quantity: 831.19
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 2
                        executed_quantity: 107.66
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9563
                        executed_quantity: 41.63
                        executed_timestamp: 1683868104230
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9563
                        executed_quantity: 10.36
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9151
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9101
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.9001
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                      - symbol: SPOT_NEAR_USDC
                        side: BUY
                        executed_price: 1.8946
                        executed_quantity: 200
                        executed_timestamp: 1683868045396
                    timestamp: 1683879644821
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994293-run
  /v1/public/volume/stats:
    get:
      tags:
      - restful_public
      summary: Get Volume Statistics
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/volume/stats`

        Get the latest volume statistics of Orderly and its associated brokers. Note that for broker volume, the volume is counted as the sum of the maker and taker volume, while for the full Orderly platform, the volume is the total amount matched on the platform (ie taker and maker are not double-counted.)
      parameters:
      - name: broker_id
        in: query
        description: Provide broker_id to obtain statistics of a specific broker
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: test_broker
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                    - perp_volume_ytd: 274148.0364
                      perp_volume_ltd: 274148.0364
                      perp_volume_last_7_days: 120272.7674
                      perp_volume_last_30_days: 300730.5454
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994294-run
  /v1/public/broker/name:
    get:
      tags:
      - restful_public
      summary: Get Broker List
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/broker/name?broker_id=:broker_id`

        Get the list of brokers currently onboarded on Orderly Network.
      parameters:
      - name: broker_id
        in: query
        description: "If provided, it will only output details for the particular broker."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: test_broker
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - broker_id: broker_1
                        broker_name: Broker One
                      - broker_id: broker_2
                        broker_name: Broker Two
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994295-run
  /v1/public/funding_rates:
    get:
      tags:
      - restful_public
      summary: Get Predicted Funding Rates for All Markets
      description: "\n**Limit: 10 requests per 1 second per IP address**\n\n`GET /v1/public/funding_rates`\n\nGet predicted funding rates for all futures trading pairs.\n\nGet the : \n* `last_funding_rate` : latest hourly funding rate for all the markets for the last funding period (dt = 8h)\n* `est_funding_rate` : rolling average of all funding rates over the last 8 hours "
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994296-run
  /v1/public/funding_rate/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Predicted Funding Rate for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/funding_rate/:symbol`

        Get latest funding rate for one market.
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PERP_ETH_USDC.e
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      symbol: PERP_ETH_USDC.e
                      est_funding_rate: 0
                      est_funding_rate_timestamp: 1683880020000
                      last_funding_rate: 1.0E-4
                      last_funding_rate_timestamp: 1683878400000
                      next_funding_time: 1683907200000
                      sum_unitary_funding: 521.367
                    timestamp: 1683880025278
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994297-run
  /v1/public/funding_rate_history:
    get:
      tags:
      - restful_public
      summary: Get Funding Rate History for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**


        `GET /v1/public/funding_rate_history`


        Get funding rate history for one market.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: PERP_NEAR_USDC
      - name: start_t
        in: query
        description: "start time range that you wish to query, noted that the time stamp is a 13-digits timestamp."
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: "end time range that you wish to query, noted that the time stamp is a 13-digits timestamp."
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: the page you wish to query.
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: "Default: 60"
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      meta:
                        current_page: 1
                        records_per_page: 5
                        total: 13
                      rows:
                      - funding_rate: 1.0E-4
                        funding_rate_timestamp: 1684224000000
                        next_funding_time: 1684252800000
                        symbol: PERP_ETH_USDC.e
                      - funding_rate: 1.0E-4
                        funding_rate_timestamp: 1684195200000
                        next_funding_time: 1684224000000
                        symbol: PERP_ETH_USDC.e
                    success: true
                    timestamp: 1684232331309
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994298-run
  /v1/public/futures/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Futures Info for One Market
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/futures/:symbol`

        Get basic futures information for one market.
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PERP_ETH_USDC
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      symbol: PERP_ETH_USDC.e
                      index_price: 1903.8
                      mark_price: 1950
                      sum_unitary_funding: 387.936
                      est_funding_rate: 4.6875E-4
                      last_funding_rate: 4.6875E-4
                      next_funding_time: 1683270240000
                      open_interest: None
                      "24h_open": 2115
                      "24h_close": 2115
                      "24h_high": 2115
                      "24h_low": 2115
                      "24h_volumn": 0
                      "24h_amount": 0
                    timestamp: 1683270228845
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994299-run
  /v1/public/liquidation:
    get:
      tags:
      - restful_public
      summary: Get Positions Under Liquidation for All Markets
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/liquidation`
      parameters:
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: integer
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - timestamp: 1685298157704
                        type: liquidated
                        liquidation_id: 1730
                        positions_by_perp:
                        - symbol: PERP_BTC_USDC.e
                          position_qty: -0.22457
                          liquidator_fee: 0.015
                      meta:
                        total: 20
                        records_per_page: 25
                        current_page: 1
                    timestamp: 1685453109700
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994300-run
  /v1/public/liquidated_positions:
    get:
      tags:
      - restful_public
      summary: Get Liquidated Positions Info
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/liquidated_positions`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: PERP_ETH_USDC
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - timestamp: 1683802462092
                        liquidation_id: 29
                        transfer_amount_to_insurance_fund: 0
                        type: liquidated
                        positions_by_perp:
                        - symbol: PERP_ETH_USDC.c
                          position_qty: 0
                          liquidator_fee: 0.015
                          cost_position_transfer: 0
                          transfer_price: 1860
                          insurance_fund_fee: 0.011999
                          abs_liquidator_fee: 0
                          abs_insurance_fund_fee: 0
                      meta:
                        total: 9
                        records_per_page: 25
                        current_page: 1
                    timestamp: 1683881314470
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994301-run
  /v1/public/info/{symbol}:
    get:
      tags:
      - restful_public
      summary: Get Exchange Information
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/info/:symbol`

        This endpoint provides all the values for the rules that an order need to fulfil in order for it to be placed successfully. The rules are defined as follows:

        Price filter

        - `price` >= `quote_min`
        - `price` <= `quote_max`
        - `(price - quote_min) % quote_tick` should equal to zero
        - `price` <= `asks[0].price * (1 + price_range)` when BUY
        - `price` >= `bids[0].price * (1 - price_range)` when SELL

        Size filter

        - `base_min` <= `quantity` <= `base_max`
        - `(quantity - base_min) % base_tick` should equal to zero

        Min Notional filter

        - `price * quantity` should greater than `min_notional`

        Risk Exposure filer

        - Order size should be within holding threshold. See [account_info](#get-account-information)
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      symbol: PERP_BTC_USDC.e
                      liquidation_tier: "1"
                      quote_min: 0
                      quote_max: 100000
                      quote_tick: 0.1
                      base_min: 1.0E-5
                      base_max: 20
                      base_tick: 1.0E-5
                      min_notional: 1
                      price_range: 0.02
                      price_scope: 0.4
                      std_liquidation_fee: 0.03
                      liquidator_fee: 0.015
                      claim_insurance_fund_discount: 0.0075
                      funding_period: 8
                      cap_funding: 3.75E-4
                      floor_funding: -3.75E-4
                      interest_rate: 1.0E-4
                      created_time: 1684140107326
                      updated_time: 1685345968053
                      imr_factor: 2.512E-7
                      base_mmr: 0.05
                      base_imr: 0.1
                    timestamp: 1685598448497
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994304-run
  /v1/public/token:
    get:
      tags:
      - restful_public
      summary: Get Token Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/token`

        Retrives the available tokens to custody within Orderly Network.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - token: USDC.e
                        token_hash: 0xd6aca1be9729c13d677335161321649cccae6a591554772516700f986f942eaa
                        decimals: 6
                        minimum_withdraw_amount: 1.0E-6
                        chain_details:
                        - chain_id: "986532"
                          contract_address: 0xbdb2d676b35ee4ed0862614572e9f375b06c4a9a
                          decimals: 6
                          withdrawal_fee: 0.1
                    timestamp: 1692161015612
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994305-run
  /v1/public/info:
    get:
      tags:
      - restful_public
      summary: Get Available Symbols
      description: |
        `GET /v1/public/info`

        Get available symbols that Orderly Network supports, and also send order rules for each symbol. The definition of rules can be found at [Exchange Infomation](#exchange-information)
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: PERP_BTC_USDC.e
                        liquidation_tier: "1"
                        quote_min: 0
                        quote_max: 100000
                        quote_tick: 0.1
                        base_min: 1.0E-5
                        base_max: 20
                        base_tick: 1.0E-5
                        min_notional: 1
                        price_range: 0.02
                        price_scope: 0.4
                        std_liquidation_fee: 0.03
                        liquidator_fee: 0.015
                        claim_insurance_fund_discount: 0.0075
                        funding_period: 8
                        cap_funding: 3.75E-4
                        floor_funding: -3.75E-4
                        interest_rate: 1.0E-4
                        created_time: 1684140107326
                        updated_time: 1685345968053
                        imr_factor: 2.512E-7
                        base_mmr: 0.05
                        base_imr: 0.1
                    timestamp: 1685590894341
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994306-run
  /v1/public/insurancefund:
    get:
      tags:
      - restful_public
      summary: Get Insurance Fund Info
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/public/insurancefund`
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      meta:
                        current_page: 1
                        records_per_page: 5
                        total: 13
                      rows:
                      - funding_rate: 1.0E-4
                        funding_rate_timestamp: 1684224000000
                        next_funding_time: 1684252800000
                        symbol: PERP_ETH_USDC
                      - funding_rate: 1.0E-4
                        funding_rate_timestamp: 1684195200000
                        next_funding_time: 1684224000000
                        symbol: PERP_ETH_USDC
                    success: true
                    timestamp: 1684232331309
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994307-run
  /v1/tv/config:
    get:
      tags:
      - restful_public
      summary: Get TradingView Localized Config Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/config`
      parameters:
      - name: locale
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994308-run
  /v1/tv/history:
    get:
      tags:
      - restful_public
      summary: Get TradingView History Bars
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/history`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: resolution
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: from
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: to
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994309-run
  /v1/tv/symbol_info:
    get:
      tags:
      - restful_public
      summary: Get TradingView Symbol Info
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/tv/symbol_info`
      parameters:
      - name: group
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994310-run
  /v1/public/system_info:
    get:
      tags:
      - restful_public
      summary: Get System Maintenance Status
      description: Retreive the current system maintenance status of Orderly Network. A return value of status = 0 means the system is functioning properly and a return value of status = 2 means the system is under maintenance.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      status: 0
                      msg: System is functioning properly.
                    timestamp: 1666567425831
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994311-run
  /v1/public/config:
    get:
      tags:
      - restful_public
      summary: Get Leverage Configuration
      description: |2

        **Limit: 10 requests per 1 second per IP address**

        `GET v1/public/config`
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
              examples:
                "1":
                  summary: 成功示例
                  value: |-
                    {
                      "success": true,
                      "data": {
                        "available_futures_leverage": "1,2,3,4,5,10",
                      },
                      "timestamp": 1684811129040
                    }
      deprecated: false
      x-apifox-folder: restful_public
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994317-run
  /v1/positions:
    get:
      tags:
      - restful_private
      summary: Get All Positions Info
      description: |
        **Limit: 30 requests per 10 second per user**

        `GET /v1/positions`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      current_margin_ratio_with_orders: 1.2385
                      free_collateral: 450315.09115
                      initial_margin_ratio: 0.1
                      initial_margin_ratio_with_orders: 0.1
                      maintenance_margin_ratio: 0.05
                      maintenance_margin_ratio_with_orders: 0.05
                      margin_ratio: 1.2385
                      open_margin_ratio: 1.2102
                      rows:
                      - IMR_withdraw_orders: 0.1
                        MMR_with_orders: 0.05
                        average_open_price: 27908.14386047
                        cost_position: -139329.358492
                        est_liq_price: 117335.92899428
                        fee_24_h: 0
                        imr: 0.1
                        last_sum_unitary_funding: 70.38
                        mark_price: 27794.9
                        mmr: 0.05
                        pending_long_qty: 0
                        pending_short_qty: 0
                        pnl_24_h: 0
                        position_qty: -5
                        settle_price: 27865.8716984
                        symbol: PERP_BTC_USDC.e
                        timestamp: 1685429350571
                        unsettled_pnl: 354.858492
                      total_collateral_value: 489865.71329
                      total_pnl_24_h: 0
                    success: true
                    timestamp: 1685431773253
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994319-run
  /v1/position/{symbol}:
    get:
      tags:
      - restful_private
      summary: Get One Position Info
      description: |
        **Limit: 30 requests per 10 second per user**

        `GET /v1/position/:symbol`
      parameters:
      - name: symbol
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      IMR_withdraw_orders: 0.1
                      MMR_with_orders: 0.05
                      average_open_price: 1899.8
                      cost_position: 73999.154647
                      est_liq_price: 0
                      fee_24_h: 0
                      imr: 0.1
                      last_sum_unitary_funding: 2.901
                      mark_price: 1901.7
                      mmr: 0.05
                      pending_long_qty: 0
                      pending_short_qty: 0
                      pnl_24_h: 0
                      position_qty: 42
                      settle_price: 1761.88463445
                      symbol: PERP_ETH_USDC.e
                      timestamp: 1685429350571
                      unsettled_pnl: 5872.245353
                    success: true
                    timestamp: 1685431978956
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994320-run
  /v1/funding_fee/history:
    get:
      tags:
      - restful_private
      summary: Get Funding Fee History
      description: |
        **Limit: 20 requests per 60 second per user**

        `GET /v1/funding_fee/history`

        Get funding fee history.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: PERP_ETH_USDC.e
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
              examples:
                "1":
                  summary: Success
                  value:
                    success: true
                    data:
                      rows:
                      - symbol: PERP_ETH_USDC.e
                        funding_rate: 4.6875E-4
                        mark_price: 2100
                        funding_fee: 1.6E-5
                        payment_type: Pay
                        status: Accrued
                        created_time: 1682235722003
                        updated_time: 1682235722003
                      meta:
                        total: 180
                        records_per_page: 2
                        current_page: 1
                    timestamp: 1682235723280
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994321-run
  /v1/client/liquidator_liquidations:
    get:
      tags:
      - restful_private
      summary: Get Liquidated Positions by Liquidator
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/client/liquidator_liquidations`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      meta:
                        current_page: 1
                        records_per_page: 25
                        total: 20
                      rows:
                      - liquidation_id: 1728
                        positions_by_perp:
                        - abs_liquidator_fee: 1.152279
                          cost_position_transfer: 65.84448
                          liquidator_fee: 0.0175
                          position_qty: 41.6
                          symbol: PERP_NEAR_USDC.e
                          transfer_price: 1.5828
                        timestamp: 1685154032762
                        type: liquidated
                    success: true
                    timestamp: 1685433339866
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994322-run
  /v1/client/leverage:
    post:
      tags:
      - restful_private
      summary: Update Leverage Setting
      description: |
        **Limit: 5 requests per 60 second per user**

        `POST /v1/client/leverage`

        Choose maximum leverage for futures mode
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_leverage_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    data:
                      leverage: 10
                    success: true
                    timestamp: 1685434629597
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994323-run
  /v1/liquidations:
    get:
      tags:
      - restful_private
      summary: Get Liquidated Positions of Account
      description: |
        **Limit: 10 requests per 1 second per IP address**

        `GET /v1/liquidations`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      meta:
                        total: 670
                        records_per_page: 25
                        current_page: 1
                      rows:
                      - liquidation_id: 101
                        timestamp: 1663313562090
                        transfer_amount_to_insurance_fund: 0
                        positions_by_perp:
                        - symbol: PERP_BTC_USDC.e
                          position_qty: 1.23
                          cost_position_transfer: 1350
                          transfer_price: 18123.43
                          liquidator_fee: 0.015
                          insurance_fund_fee: 0.015
                          abs_liquidation_fee: 3520
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994324-run
  /v1/liquidation:
    post:
      tags:
      - restful_private
      summary: Claim Liquidated Positions
      description: |
        **Limit: 5 requests per 1 second per IP address**

        `POST /v1/liquidation`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_liquidation_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      liquidation_id: 101
                      timestamp: 1663313562090
                      type: liquidate
                      positions_by_perp:
                      - symbol: PERP_BTC_USDC.e
                        position_qty: 1.23
                        cost_position_transfer: 1350
                        transfer_price: 18123.43
                        liquidator_fee: 0.015
                        abs_liquidator_fee: 3520
                      - symbol: PERP_ETH_USDC.e
                        position_qty: 1.23
                        cost_position_transfer: 1350
                        transfer_price: 1423.23
                        liquidator_fee: 0.015
                        abs_liquidator_fee: 3520
                      - symbol: PERP_NEAR_USDC.e
                        position_qty: 1.23
                        cost_position_transfer: 1350
                        transfer_price: 1.646
                        liquidator_fee: 0.02
                        abs_liquidator_fee: 3520
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994325-run
  /v1/order:
    put:
      tags:
      - restful_private
      summary: Edit Order
      description: |
        **Limit: 10 request per 1 second**

        `PUT /v1/order`

        Edit a pending order by `order_id`. Only the `order_price` or `order_quantity` can be amended.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      - name: orderly-trading-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0b8d328cde365b3dd10b194048b677d575c2faf51790ecfa6c2fe8b0403324984b275e7bf4c486b4d713576cf20335e1230537c47aafdde0bd646af9b83a8d6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_order_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      status: EDIT_SENT
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994338-run
    post:
      tags:
      - restful_private
      summary: Create Order
      description: |
        **Limit: 10 requests per 1 second**

        `POST /v1/order`

        Place order maker/taker, the order executed information will be update from websocket stream.
        will response immediately with an order created message.

        `MARKET` type order behavior: it matches until the full size is executed. If the size is too large (larger than whole book) or the matching price exceeds the price limit (refer to `price_range`), then the remaining quantity will be cancelled.

        `IOC` type order behavior: it matches as much as possible at the order_price. If not fully executed, then remaining quantity will be cancelled.

        `FOK` type order behavior: if the order can be fully executed at the order_price then the order gets fully executed otherwise would be cancelled without any execution.

        `POST_ONLY` type order behavior: if the order will be executed with any maker trades at the time of placement, then it will be cancelled without any execution.

        `ASK` type order behavior: the order price is guranteed to be the best ask price of the orderbook at the time it gets accepted.

        `BID` type order behavior: the order price is guranteed to be the best bid price of the orderbook at the time it gets accepted.

        `visible_quantity` behavior: it sets the maximum quantity to be shown on orderbook. By default, it is equal to order_quantity, negative number and number larger than `order_quantity` is not allowed. If it sets to 0, the order would be hidden from the orderbook. It doesn't work for `MARKET`/`IOC`/`FOK` orders since orders with these types would be executed and cancelled immediately and not be shown on orderbook. For `LIMIT`/`POST_ONLY` order, as long as it's not complete, `visible_quantity` is the maximum quantity that shown on orderbook.

        `order_amount` behavior: for `MARKET`/`BID`/`ASK` order, order can be placed by `order_amount` instead of `order_quantity`. It's the size of the order in terms of the quote currency instead of the base currency. The order would be rejected if  both `order_amount` and `order_quantity` are provided. The precision of the number should be within 8 digits.

        `client_order_id` behavior: customized order_id, a unique id among open orders. Orders with the same `client_order_id` can be accepted only when the previous one if completed, otherwise the order will be rejected.

        For `MARKET`/`BID`/`ASK` order, `order_amount` is not supported when placing SELL order while `order_quantity` is not supported when placing BUY order.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      - name: orderly-trading-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0b8d328cde365b3dd10b194048b677d575c2faf51790ecfa6c2fe8b0403324984b275e7bf4c486b4d713576cf20335e1230537c47aafdde0bd646af9b83a8d6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_order_body_1'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      order_id: 13
                      client_order_id: testclientid
                      order_type: LIMIT
                      order_price: 100.12
                      order_quantity: 0.987654
                      broker_id: broker
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994326-run
    delete:
      tags:
      - restful_private
      summary: Cancel Order
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/order?order_id=:oid&symbol=:symbol`

        Cancels a single order by `order_id`.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: order_id
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: signature
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      - name: orderly-trading-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0b8d328cde365b3dd10b194048b677d575c2faf51790ecfa6c2fe8b0403324984b275e7bf4c486b4d713576cf20335e1230537c47aafdde0bd646af9b83a8d6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      status: CANCEL_SENT
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994327-run
  /v1/order/{order_id}:
    get:
      tags:
      - restful_private
      summary: Get Order
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/order/{order_id}`

        Get details of a single order by `order_id`.
      parameters:
      - name: order_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      order_id: 78151
                      user_id: 12345
                      price: 0.67772
                      type: LIMIT
                      reduce_only: false
                      quantity: 20
                      executed: 20
                      visible: 1
                      symbol: SPOT_WOO_USDC.e
                      side: BUY
                      status: FILLED
                      total_fee: 0
                      fee_asset: WOO
                      average_executed_price: 0.67772
                      broker_id: broker
                      broker_name: Broker Name
                      created_time: 1653563963000
                      updated_time: 1653564213000
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994328-run
  /v1/client/order/{client_order_id}:
    get:
      tags:
      - restful_private
      summary: Get Order by client_order_id
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/client/order/{client_order_id}`

        Get details of a single order by `client_order_id`.
      parameters:
      - name: client_order_id
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      order_id: 78151
                      user_id: 12345
                      price: 0.67772
                      type: LIMIT
                      reduce_only: false
                      quantity: 20
                      executed: 20
                      visible: 1
                      symbol: SPOT_WOO_USDC.e
                      side: BUY
                      status: FILLED
                      total_fee: 0
                      fee_asset: WOO
                      client_order_id: "1234"
                      average_executed_price: 0.67772
                      broker_id: broker
                      broker_name: Broker Name
                      created_time: 1644216606000
                      updated_time: 1644216696000
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994329-run
  /v1/trades:
    get:
      tags:
      - restful_private
      summary: Get Trades
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/trades`

        Return client’s trades history within a time range.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      meta:
                        records_per_page: 25
                        current_page: 1
                        total: 50
                      rows:
                      - id: 2
                        symbol: SPOT_BTC_USDC.e
                        fee: 1.0E-4
                        fee_asset: BTC
                        side: BUY
                        order_id: 1
                        executed_price: 123
                        executed_quantity: 0.05
                        executed_timestamp: 1567382401000
                        is_maker: 1
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994330-run
  /v1/client/holding:
    get:
      tags:
      - restful_private
      summary: Get Current Holding
      description: |
        **Limit: 10 requests per 1 seconds**

        `GET /v1/client/holding`

        Get the current summary of user token holdings.
      parameters:
      - name: all
        in: query
        description: true/false. If true then will return all token even if balance is empty.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      holding:
                      - updated_time: 1580794149000
                        token: BTC
                        holding: -28.000752
                        frozen: 0
                        pending_short: -1
                      - updated_time: 1580794149000
                        token: USDC.e
                        holding: 282485.071904
                        frozen: 0
                        pending_short: -2000
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994331-run
  /v1/client/info:
    get:
      tags:
      - restful_private
      summary: Get Account Information
      description: |
        **Limit: 10 requests per 60 seconds**

        `GET /v1/client/info`

        Get basic account information including current user fee rates.
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      account_id: test.near
                      email: test@test.com
                      account_mode: FUTURES
                      max_leverage: 5
                      tier: "1"
                      futures_tier: "1"
                      taker_fee_rate: 0
                      maker_fee_rate: 0
                      futures_taker_fee_rate: 0
                      futures_maker_fee_rate: 0
                      imr_factor:
                        PERP_BTC_USDC.e: 2.512E-7
                        PERP_ETH_USDC.e: 3.003E-7
                        PERP_NEAR_USDC.e: 4.8045E-6
                      max_notional:
                        PERP_BTC_USDC.e: 5000000
                        PERP_ETH_USDC.e: 5000000
                        PERP_NEAR_USDC.e: 2000000
                      maintenance_cancel_orders: true
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994332-run
  /v1/orders:
    get:
      tags:
      - restful_private
      summary: Get Orders
      description: |
        **Limit: 10 requests per 1 second**

        `GET /v1/orders`

        Get orders by customized filters.

        For filter by status, one can reference special bundled statuses below for ease of access of Open (ie `INCOMPLETE`) orders or `COMPLETED` orders.

        - `INCOMPLETE` = `NEW` + `PARTIAL_FILLED`
        - `COMPLETED` = `CANCELLED` + `FILLED`
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: side
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: order_type
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: status
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      meta:
                        records_per_page: 25
                        current_page: 1
                        total: 50
                      rows:
                      - order_id: 78151
                        user_id: 12345
                        price: 0.67772
                        type: LIMIT
                        reduce_only: false
                        quantity: 20
                        executed: 20
                        visible: 1
                        symbol: SPOT_WOO_USDC.e
                        side: BUY
                        status: FILLED
                        total_fee: 0
                        fee_asset: WOO
                        average_executed_price: 0.67772
                        broker_id: broker
                        broker_name: Broker Name
                        created_time: 1644216606000
                        updated_time: 1644216696000
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994333-run
    delete:
      tags:
      - restful_private
      summary: Cancel Orders in Bulk
      description: |
        **Limit: 10 requests per 1 second**

        `DELETE /v1/orders?symbol=:symbol`

        Cancel a list of orders, filtered by `symbol` optionally. This request will cancel all open orders within the filter criteria, and will cancel all open orders if no filter is provided.
      parameters:
      - name: symbol
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: signature
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      - name: orderly-trading-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0b8d328cde365b3dd10b194048b677d575c2faf51790ecfa6c2fe8b0403324984b275e7bf4c486b4d713576cf20335e1230537c47aafdde0bd646af9b83a8d6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      status: CANCEL_ALL_SENT
                    timestamp: 1639980423855
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994342-run
  /v1/client/statistics:
    get:
      tags:
      - restful_private
      summary: Get User Statistics
      description: |
        **Limit: 10 requests per 60 seconds**

        `GET /v1/client/statistics`

        Get statistics of the user account
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      days_since_registration: 109
                      fees_paid_last_30_days: 0
                      perp_fees_paid_last_30_days: 0
                      perp_trading_volume_last_24_hours: 0
                      perp_trading_volume_last_30_days: 0
                      perp_trading_volume_ytd: 0
                      trading_volume_last_24_hours: 0
                      trading_volume_last_30_days: 0
                      trading_volume_ytd: 459.7436
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994334-run
  /v1/asset/history:
    get:
      tags:
      - restful_private
      summary: Get Asset History
      description: |
        **Limit 10 requests per 60 seconds**

        `GET /v1/asset/history`

        Get asset history, including token deposits/withdrawals.
      parameters:
      - name: token
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: side
        in: query
        description: DEPOSIT/WITHDRAW
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: status
        in: query
        description: NEW/CONFIRM/PROCESSING/COMPLETED/FAILED
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: broker_id
        in: query
        description: filters order by broker
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: start_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: end_t
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: page
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: size
        in: query
        description: ""
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: ""
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      meta:
                        records_per_page: 25
                        current_page: 1
                        total: 150
                      rows:
                      - id: "202029292829292"
                        uuid: 81da2a0b-33ea-46c0-be10-ed5176e944d4
                        token: ETH
                        side: DEPOSIT
                        amount: 1000
                        tx_id: 3Q4frajLnGhiWHJweQ9aNYqB1m6SqK2KWHd8giM7968a
                        fee: 0
                        broker_id: ""
                        trans_status: COMPLETED
                        created_time: 1579399877000
                        updated_time: 1579399877000
                    timestamp: 1580794149000
      deprecated: false
      x-apifox-folder: restful_private
      x-apifox-status: released
      x-run-in-apifox: https://www.apifox.cn/web/project/3711463/apis/api-130994335-run
  /v1/claim_insurance_fund:
    post:
      tags:
      - restful_private
      summary: Claim Insurance Fund
      description: |
        **Limit: 5 requests per 1 second**

        `POST /v1/claim_insurance_fund`
      parameters:
      - name: orderly-timestamp
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "1649920583000"
      - name: orderly-account-id
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 0x0f29bfb4c1bc9fea3f3be46bab6d795e22a6272354b136fde05f6b80cfcad546
      - name: orderly-key
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ed25519:8tm7dnKYkSc3FzgPuJaw1wztr79eeZpN35nHW5pL5XhX
      - name: orderly-signature
        in: header
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dG4bkKiqG0dUYLzViRZkvbI6Sy239JxAdNMIBxFZ4w030Jofr0ORV06GHtvXZkaZaWUXE+XAU3fnzKN/5fDeBQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_claim_insurance_fund_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
              examples:
                "1":
                  summary: 成功示例
                  value:
                    success: true
                    data:
                      liquidation_id: 101
                      timestamp: 1663313562090
                      positions_by_perp:
                      - symbol: PERP_BTC_USDC.e
                        position_qty: 1.23
                        cost_position_transfer: 1350
                        transfer_price: 18123.43
                        liquidator_fee: 0.0075
                        abs_liquidator_fee: 3520
      deprecated: false
      x-apifox-folder: restful_private
[...]
