iframe.preview {
  width: 100%;
  min-height: 500px;
}

/* 适用于桌面端 */
@media screen and (min-width: 1024px) {
    .container {
      display: flex; /* 设置父元素为 flex 布局 */
    }

    .left {
      width: 30%; /* 设置左右两部分的宽度 */
    }

    .right {
      width: 70%;
    }

    .card {
      position: relative;
      height: 120px;
      border: 1px solid #2A1F3A;
      padding: 16px;
      border-radius: 8px;
      transition: border 0.3s ease-in-out;
      background-color: #16132b;
      margin-bottom: 10px;
    }

    .card:hover {
      border-color: gold;
    }

    .card .badge {
      position: absolute;
      top: 8px;
      left: 8px;
      background: linear-gradient(135deg, #856220, #F4E683, #BF923D, #F1EA82, #4E341B);
      color: #2A1F3A;
      border-radius: 8px;
      display: none;
      font-size: 12px;
      padding: 0.5px 5px;
      font-weight: 700;
      transition: border 0.3s ease-in-out;
    }

    .card:hover .badge {
      display: block;
    }

    .card .link {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
      display: none;
    }

    .card:hover .link {
      display: block;
    }

    .content-before {
        height: 100px;
    }

    .logo {
        height: 85px;
    }

    .content-before:hover {
      cursor: pointer;
    }

    .search-builders-input {
      height: 10px;
      width: 95%;
    }

    .search-builders-tier {
      height: 100px;
      width: 95%;
    }

    .search-builders-network {
      height: 200px;
      width: 95%;
    }

    .search-builders-tier-btn {
      background: #16132b;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 95%;
      height: 180px;
    }

    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }

    .reset-btn {
      background: transparent;
      color: #a0a0a0;
      border: 1px solid #a0a0a0;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 12px;
    }

    .reset-btn:hover {
      color: white;
      border-color: white;
    }

    .filter-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      height: 30px;
    }

    .tier-icon {
      width: 12px;
      height: 12px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 10px;
    }

    .gold {
      background: linear-gradient(135deg, #856220, #F4E683, #BF923D, #F1EA82, #4E341B);
    }

    .silver {
      background: linear-gradient(135deg, #856220, #C9C9C9, #7D7D7D, #A5A5A5);
    }

    .bronze {
      background: linear-gradient(135deg, #856220, #F6CBA2, #9D6939, #E9A363);
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 20px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #555;
      border-radius: 20px;
      transition: 0.3s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: #BABABA;
      border-radius: 50%;
      transition: 0.3s;
    }

    input:checked + .slider {
      background-color: #B084E9;
    }

    input:checked + .slider:before {
      transform: translateX(14px);
    }

    .search-builders-network {
      background: #16132b;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 95%;
      height: 540px;
    }

    .network-icon {
      width: 18px;
      height: 18px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 10px;
    }
}

/* 适用于移动端 */
@media screen and (max-width: 768px) {
    .container {
      display: flex; /* 设置父元素为 flex 布局 */
    }

    .left {
      width: 30%; /* 设置左右两部分的宽度 */
    }

    .right {
      width: 70%;
    }

    .card {
      position: relative;
      height: 120px;
      border: 1px solid #2A1F3A;
      padding: 16px;
      border-radius: 8px;
      transition: border 0.3s ease-in-out;
      background-color: #16132b;
      margin-bottom: 10px;
    }

    .card:hover {
      border-color: gold;
    }

    .card .badge {
      position: absolute;
      top: 8px;
      left: 8px;
      background: linear-gradient(135deg, #856220, #F4E683, #BF923D, #F1EA82, #4E341B);
      color: #2A1F3A;
      border-radius: 8px;
      display: none;
      font-size: 12px;
      padding: 0.5px 5px;
      font-weight: 700;
      transition: border 0.3s ease-in-out;
    }

    .card:hover .badge {
      display: block;
    }

    .card .link {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
      display: none;
    }

    .card:hover .link {
      display: block;
    }

    .content-before {
      display: flex;
      height: 100%;
      justify-content: center;  /* 水平居中 */
      align-items: center;      /* 垂直居中 */
    }

    .search-builders-input {
      height: 10px;
      width: 95%;
    }

    .search-builders-tier {
      height: 100px;
      width: 95%;
    }

    .search-builders-network {
      height: 200px;
      width: 95%;
    }

    .search-builders-tier-btn {
      background: #16132b;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 95%;
      height: 200px;
    }

    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }

    .reset-btn {
      background: transparent;
      color: #a0a0a0;
      border: 1px solid #a0a0a0;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 12px;
    }

    .reset-btn:hover {
      color: white;
      border-color: white;
    }

    .filter-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .tier-icon {
      width: 12px;
      height: 12px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 10px;
    }

    .gold {
      background: linear-gradient(135deg, #856220, #F4E683, #BF923D, #F1EA82, #4E341B);
    }

    .silver {
      background: linear-gradient(135deg, #856220, #C9C9C9, #7D7D7D, #A5A5A5);
    }

    .bronze {
      background: linear-gradient(135deg, #856220, #F6CBA2, #9D6939, #E9A363);
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 20px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #555;
      border-radius: 20px;
      transition: 0.3s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: #BABABA;
      border-radius: 50%;
      transition: 0.3s;
    }

    input:checked + .slider {
      background-color: #B084E9;
    }

    input:checked + .slider:before {
      transform: translateX(14px);
    }

    .search-builders-network {

    }
}

